/* nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: pink;
}

.active {
    background-color: pink;
}


/*home page*/
.all-home {
    background-image: url("https://images.unsplash.com/photo-1561434199-57b01d5b67a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-blend-mode: lighten;
    font-family: "Papyrus";
    font-size: 20px;
    margin:0;
}

#brand_button, #brandSelect {
    font-family: "Papyrus";
}

#brand_button{
    background-color: pink;
}

p,form {
    text-align: center;
}

h1 {
    font-family: "Segoe Script";
}

.center {
    box-sizing: border-box;
    background-color:white;
    width:50%;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top:100px;
    border-radius: 100px;
}


/*products page*/
.all-products {
    font-family: "Papyrus";
    margin:0;
	background-image: url("https://images.unsplash.com/photo-1561434199-57b01d5b67a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
}

#brand_find, #brandSelect {
    font-family: "Papyrus";
}

table {
    border-collapse: collapse;
    margin:10px;
    font-family: "Helvetica";
    letter-spacing: 1px;
}

.th1, .th2 {
    font-size: 30px;
}

.th1, .td1 {
    width:25%;
}

.th2,.td2 {
    width:50%;
}

tr{
    border: solid;
    border-width: 1px;
	background-color: white;
}

#brand_button {
    background-color: pink;
}

p, form {
    margin:10px;
}

ul, p, form, #brand_button, #brandSelect, th{
    font-family:Papyrus;
}

/*stats page*/
.all-stats {
    font-family: "Papyrus";
    margin:0;
	background-image: url("https://images.unsplash.com/photo-1561434199-57b01d5b67a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
}

.stats {
    text-align: center;
    margin:10px;
    font-size:50px;
}

.graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
}