/*home page*/
#all-home {
    background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
    font-family: "Papyrus";
    font-size: 20px;
    margin:0;
}

#home-background {
    position: absolute; 
    z-index: 2;
    width: 100%;
    height: 100%;
}

#brand_button, #brandSelect {
    font-family: "Papyrus";
}

#brand_button{
    background-color: pink;
}

.home-directions,#brandForm-home {
    text-align: center;
}

h1 {
    font-family: "Segoe Script";
}

.center {
    position: relative; 
    top: -10px; 
    z-index: 3;

    left: 50%;
    transform: translateX(-50%);
    margin-top:100px;
	border-radius: 10px;

    box-sizing: border-box;
    background-color:white;
    width:50%;
    padding: 20px;

}


/*products page*/
#all-products {
	margin:0;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
}

#brand_find, #brandSelect-products, ul, label, .products-directions{
    font-family: "Papyrus";
}

th {
    font-variant: small-caps;
}

table {
    border-collapse: collapse;
    margin:10px;
    font-family: Garamond, serif;
    letter-spacing: 1px;
}

td:nth-child(1) {
    width: 30%;
}


td:nth-child(2) {
    width: 70%;
}

.th1, .th2 {
    font-size: 30px;
}

tr{
    border: solid;
    border-width: 1px;
    background-color: white;
}

#brand_find {
    background-color: pink;
}

.products-directions, #brandForm-products {
    margin:10px;
}

/*stats page*/
#all-stats {
    font-family: "Papyrus";
    margin:0;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
  	background-attachment: fixed;
}

#stats-header {
    text-align: center;
    margin:10px;
    font-size:50px;
}

#stats-graph {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:65%;
    height: auto;
}


/*nav bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    background-color: white;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: pink;
}

.active {
    background-color: pink;
}